/***********************************/
/***************通用***************/
/*********************************/

body{
    background: #F2F2F2;
}

/*廣告*/
.ad{
    margin-top: 24px;
    margin-bottom: 24px;
}

/***********************************/
/*************【表頭】**************/
/*********************************/
.header{
    width: 1024px;
    margin: 0 auto;
    background: #000000;
}

h1{
    font-family: 'Roboto';
    font-weight: 900;
    font-style: italic;
    font-size: 36px;
    color: #50FF44;
    text-align: center;
    line-height: 42px;
    padding-top: 16px;
    padding-bottom: 16px;
}

/***********************************/
/*************【內容】**************/
/*********************************/

